<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  
  <div class="row">
  <div class="col text-left">
      <span class="text-center"><strong>Enter Data</strong></span>
  </div>
  </div>
  
  <p>
  <label for="name"> Name :- </label>
  <input type="text" style="text-transform: uppercase" id="name" name="name" formControlName="name">
  </p>
  
  
  <p>
  <label for="email">Email :-</label>
  <input type="text" id="email" name="email" formControlName="email">
  </p>
  
  
  <p>
  <label for="human">Human :- </label>
  <input type="checkbox" id="human" name="human" formControlName="human">
  </p>
  
  
  <p>
  <label for="country">country :- </label>
  <select id="country" name="country" formControlName="country">
    <option value="1">India</option>
    <option value="2">USA</option>
    <option value="3">England</option>
    <option value="4">Singapore</option>
  </select>
  </p>
  
  <p>
    <!-- <button type="submit" onclick="changeBodybg('red');">Submit</button> -->
  <button type="submit" class="btn btn-primary">Submit</button>
  </p>
  </form>
  
  
  