<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

<div class="row">
    <div class="col text-left">
        <span class="fs-3" >ViewChild Example</span>
    </div>
  </div>
  
  <div class="my-1 p-2">
    <div>
      <label>DOB: </label>
      <input type="date" #dobInput (blur)="calculateAge()">
    </div>
      <label>Age: </label>
      <input type="text" #ageInput>
  </div>
  <!-- class="fs-3" -->
